.page-main__breadcrumbs {
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.page-main__order-form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 760px 400px;
    grid-template-areas:
      "wares subtotal"
      "contacts map"
      "pay map"
      "comment .";
    column-gap: 40px;
    align-items: start;
  }
}

.page-main__grid-el--wares {
  @media (min-width: $desktop-width) {
    grid-area: wares;
    margin-bottom: 39px;
  }
}

.page-main__grid-el--contacts {
  @media (min-width: $desktop-width) {
    grid-area: contacts;
  }
}

.page-main__grid-el--map {
  @media (min-width: $desktop-width) {
    grid-area: map;
  }
}

.page-main__grid-el--pay {
  @media (min-width: $desktop-width) {
    grid-area: pay;
  }
}

.page-main__grid-el--comment {
  @media (min-width: $desktop-width) {
    grid-area: comment;
  }
}

.page-main__grid-el--subtotal {
  @media (min-width: $desktop-width) {
    grid-area: subtotal;
  }
}
