.order-form__wares {
  margin: 0 0 43px;
  padding: 0;
  list-style: none;
}

.order-form__ware:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__fieldset--contacts {
  margin-bottom: 12px;
}

.order-form__fieldset--payment {
  margin-bottom: 42px;
}

.order-form__fieldset--comment {
  margin-bottom: 37px;
}

.order-form__legend {
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 30px;
  }
}

.order-form__text-input-wrapper:not(:last-child) {
  position: relative;
  margin-bottom: 16px;
}

.js-active-input.order-form__text-input-wrapper {
  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: 12px;
    display: block;
    padding: 2px 4px;
    color: $base-grey;
    font-size: 12px;
    line-height: 15px;
    background-color: $base-white;
  }
}

.order-form__text-input {
  padding: 11px 16px;
  width: 100%;
  color: $base-grey;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid $base-grey-lighter;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    color: $base-black;
    outline: none;
    border-color: $base-grey;
  }
}

.order-form__map {
  margin-bottom: 42px;
  width: 100%;
  height: 220px;
  background-color: $base-grey-lightest;
}

.order-form__subtotal {
  padding: 24px 16px;
  border: 1px solid $base-grey;

  @media (min-width: $tablet-width) {
    padding: 30px 20px;
  }
}

.order-form__receiving {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.order-form__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 30px;
  }
}

.order-form__promocode-input {
  display: block;
  margin-bottom: 12px;
  padding: 11px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  color: $base-grey;
  border: 1px solid $base-grey-lighter;

  &:focus,
  &:hover {
    color: $base-black;
    outline: none;
    border-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    padding: 15px 20px;
  }
}

.order-form__submit-button {
  margin-bottom: 10px;
  padding: 15px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}
