.characteristics {
  font-size: 12px;
  line-height: 15px;
}

.characteristics__row {
  display: flex;
  column-gap: 6px;
}

.characteristics__row:not(:last-child) {
  margin-bottom: 6px;
}

.characteristics__term {
  color: $base-grey;
}

.characteristics__desc {
  margin: 0;
}
