.breadcrumbs {
  display: flex;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  list-style: none;
}

.breadcrumbs__link {
  position: relative;
  color: $base-grey;
  text-decoration: none;
}

.breadcrumbs__link--current {
  color: $base-black;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: all 0.3s ease-in;

  &:focus,
  &:hover {
    background-size: 100% 1px;
  }

  &:active {
    opacity: 0.3;
  }
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link {
  padding-right: 24px;

  &::after {
    position: absolute;
    content: "/";
    right: 10px;
  }
}
