.page__header {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.page__main {
  padding: 0 16px;
}

// outline: 1px solid red;
