.page__header {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 54px;
  }
}

.page__main {
  padding: 0 16px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 40px;
    width: $desktop-width;
  }
}

.page__footer {
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }
}
