.ware-card {
  display: grid;
  grid-template-columns: max-content 1fr;
  position: relative;
  padding: 16px 0;
  border-top: 1px solid $base-grey-lighter;
  border-bottom: 1px solid $base-grey-lighter;

  @media (min-width: $tablet-width) {
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto auto;
    gap: 15px 10px;
    padding: 25px 0;
  }
}

.ware-card__image {
  width: 90px;
  height: 111px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 130px;
    height: 160px;
  }
}

.ware-card__image-link {
  display: block;
  margin-bottom: 9px;
  line-height: 0;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 3;
    margin-bottom: 0;
  }
}

.ware-card__title {
  margin: 2px 0 0;
  padding: 0 26px 0 12px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }
}

.ware-card__link {
  text-decoration: none;
  color: inherit;
}

.ware-card__characteristics-wrapper {
  grid-column: 1 / -1;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-bottom: 0;
  }
}

.ware-card__characteristics {
  margin: 0 0 13px;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.ware-card__size-selection {
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.ware-card__count-selection {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-right: 32px;
  }
}

.ware-card__delete-button {
  position: absolute;
  content: "";
  top: 16px;
  right: 0;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 45%;
    left: 6%;
    width: 19px;
    height: 2px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.js-delete-ware.ware-card {
  display: block;
  border: none;
  padding: 0;
}

.ware-card__delete-item-template {
  padding: 16px 34px 10px 8px;
  font-size: 14px;
  line-height: 18px;
  color: $base-grey;
  background-color: $base-grey-lightest;
}

.ware-card__delete-item-annotation {
  display: block;
  margin-bottom: 6px;
}

.ware-card__delete-item-name {
  font-weight: 700;
}

.ware-card__delete-item-recover-link {
  display: block;
  text-decoration: none;
  color: $base-black;
}

.js-delete-ware .ware-card__delete-button {
  &::before,
  &::after {
    top: 35%;
    left: -26%;
  }
}
