.search-form {
  position: relative;
  line-height: 0;
}

.search-form__search-input {
  display: none;
  padding: 4px 8px;
  border: 1px solid $base-grey-lighter;
  border-radius: 4px;
  transition: all 0.3s ease-in;

  &:focus {
    outline: 1px solid $base-grey;
  }
}

.search-form__button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../img/icons/stack.svg#search_icon");
  transition: all 0.3s ease-in;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}


.js-search-form-active .search-form__search-input {
  display: block;
}

.js-search-form-active .search-form__button {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 4px;
  right: 4px;
}
