.search-form {
  position: relative;
  line-height: 0;
}

.search-form__search-input {
  padding: 4px 8px;
  width: 150px;
  border: none;
  border-radius: 4px;

  &:focus {
    outline: 1px solid $base-grey;
  }
}

.search-form__button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../img/icons/stack.svg#search_icon");

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}

.js-search-input-hidden.search-form__search-input {
  display: none;
}
